<a href="https://colab.research.google.com/github/samlee7841/python/blob/master/02_4_google_colab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 02-4.Google Colaboratory 사용법1

## 목차

## 1. ipynb in Colaboratory 

### 1-1. ipynb 파일 만들기

### 1-2. 코드 실행

## 2.마크다운 사용법

### 2-1. 마크다운이란?

### 2-2. 배우는 이유

### 2-3. 간단한 사용법

### 2-3-1. 코드 셀 <-> 마크다운 셀 변환

### 2-3-2. 글자 크기 변환

## 3. 개발 환경

### 3-1. 라이브러리란?

### 3-2. install

### 3-2. import

## 1. ipynb in Colaboratory 

### 1-1. ipynb 파일 만들기

![image](https://user-images.githubusercontent.com/42320146/61222674-1ef66100-a756-11e9-9880-b5bad82a27a0.png)

### 1-2. 코드 실행

![image](https://user-images.githubusercontent.com/42320146/61222545-dd65b600-a755-11e9-9c2a-8fa7fc392fd6.png)

## 1. 마크다운 사용법

### 1-1. 마크다운이란?

<pre>

마크다운이란 보기쉬운 문서형태로 

만들 수 있게 하는 언어입니다.

ipynb파일은 마크다운을 지원합니다.

</pre>

In [0]:
# 1-2. 배우는 이유

# 당장 이렇게 주석으로 다는 것 보다 보기 좋습니다.

## 1-3. 간단한 사용법

### 1-3-1. 코드 셀 <-> 마크다운 셀 변환

###코드셀

### 마크다운 셀

### Shift+Ent로 이전 셀을 실행하면 코드 셀이 만들어집니다.

#이렇게

### 애초에 만들때 마크다운 셀이나 코드 셀로 만들 수 도 있습니다.

### 하단에 표시된 영역에 마우스를 갖다 대면  +코드 , +텍스트 가 뜹니다.

![image](https://user-images.githubusercontent.com/42320146/61220658-bc9b6180-a751-11e9-9965-81ed4d85d08f.png)

In [0]:
단축키가 있습니다.
코드 셀 -> 텍스트 셀 : Ctrl + M M
텍스트 셀 -> 코드 셀 : Ctrl + M Y

SyntaxError: ignored

In [0]:
### 단축키가 있습니다.

### 코드 셀 -> 텍스트 셀 : Ctrl + M M

### 텍스트 셀 -> 코드 셀 : Ctrl + M Y

### 이렇게 셀 상태에서 실행하면 에러가 뜨게 됩니다.
왜냐하면 컴퓨터는 이걸 이해 못하거든요.

### 그래서 셀에서는 #으로 주석처리 합니다.
주석 처리한 부분은 코드 셀 에서는 보이지만 
출력되지 않습니다.

In [0]:
# 단축키가 있습니다.
# 코드 셀 -> 텍스트 셀 : Ctrl + M M
# 텍스트 셀 -> 코드 셀 : Ctrl + M Y
print('hello')

hello

### 1-3-2. 글자 크기 변환

마크다운 셀에서 글자 크기는 다음과 같이 조절합니다.

<pre>

# 제목

## 제목1

### 제목2

#### 제목3

##### 제목4

###### 제목5

###### 제목6

내용1

</pre>

# 제목

## 제목1

### 제목2

#### 제목3

##### 제목4

###### 제목5

내용1

### 마크다운 문법은 이것 까지만 하겠습니다. 당장 사용할건 이것과 코드 정도 일테니까요.

더 많은 것을 알고 싶으신 분들은 

https://gist.github.com/ihoneymon/652be052a0727ad59601

이곳을 참고하시거나, 

마크다운 문법을 검색하시면 다양한 자료를 찾으실 수 있어요.

## 3. 개발 환경

### 3-1. 라이브러리란?
<pre>
특정한 목적을 하는 함수들의 묶음
함수란 우리가 컴퓨터에게 시키고자 하는 일에 해당합니다.
예금, 출금, 계좌이체 이런걸 함수라고 볼 수 있지요.
</pre>

### 개발환경이란?
<pre>
특정한 목적을 하는 라이브러리를 설치하고 불러오는 것.
예금, 출금, 계좌이체는 은행업무에 속하겠지요?
은행 업무처럼 특정 역할을 하는 함수들의 묶음을 라이브러리 라고 합니다.

### 3-2. install

라이브러리 설치합니다.



### !pip install 라이브러리 이름

In [0]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.16.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [0]:
!pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.6/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from bs4) (4.6.3)

In [0]:
!pip install selenium

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
     |████████████████████████████████| 911kB 2.8MB/s
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from selenium) (1.24.3)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

### 3-2. import

라이브러리를 사용하기 위해 불러옵니다.



### import 라이브러리 이름

In [0]:
# 판다스 라는 라이브러리를 불러온다
import pandas

In [0]:
# 리눅스에서 현재 위치를 알 수 있는 커맨드(코드) 당장 중요한건 아님.
!pwd

/content

In [0]:
# pandas라고 다 써야함.
df = pandas.read_csv('baseball_WD_data2.csv')

In [0]:
df.head()

   year  rank team    G   W  T  ...     BA    OBP    SLG   OOBP   OSLG    OPS
0  2015     1   삼성  144  88  0  ...  0.302  0.378  0.469  0.332  0.441  0.847
1  2015     2   NC  144  84  3  ...  0.289  0.367  0.455  0.336  0.409  0.822
2  2015     3   두산  144  79  0  ...  0.290  0.370  0.435  0.362  0.422  0.805
3  2015     4   넥센  144  78  1  ...  0.298  0.372  0.486  0.355  0.427  0.858
4  2015     5   SK  144  69  2  ...  0.272  0.349  0.410  0.349  0.427  0.759

[5 rows x 18 columns]

In [0]:
# 판다스라는 라이브러리를 불러와서 pd로 사용한다.
import pandas as pd

In [0]:
# pd 로 줄여서 쓸 수 있다.
df = pd.read_csv('baseball_WD_data2.csv')
df.head()

   year  rank team    G   W  T  ...     BA    OBP    SLG   OOBP   OSLG    OPS
0  2015     1   삼성  144  88  0  ...  0.302  0.378  0.469  0.332  0.441  0.847
1  2015     2   NC  144  84  3  ...  0.289  0.367  0.455  0.336  0.409  0.822
2  2015     3   두산  144  79  0  ...  0.290  0.370  0.435  0.362  0.422  0.805
3  2015     4   넥센  144  78  1  ...  0.298  0.372  0.486  0.355  0.427  0.858
4  2015     5   SK  144  69  2  ...  0.272  0.349  0.410  0.349  0.427  0.759

[5 rows x 18 columns]

### 결론 : 라이브러리를 import로 불러와서 사용할 수 있다는 것이 요지입니다.

### +a 지금은 몰라도 나중엔 겪게 될 것.



### 컴퓨터에 설치한 아나콘다와 colab에서의 라이브러리 사용법 차이?

1. 컴퓨터의 아나콘다 

    install : 한번만 해도 됩니다.

    import : 파이썬 파일을 새로 열 때 마다 실행해줘야 합니다.

2. colab

    install : 매번 다시 설치해주어야 합니다.

    다만 요즘은 어지간한 라이브러리들이 이미 다 설치되어 있어서 import만 해도 될 수 있습니다.

    import : 파이썬 파일을 새로 열 때 마다 실행해줘야 합니다.